@import "../variables.scss";
.container {
  display: flex;
  flex-wrap: wrap;
  .top-title {
    justify-content: space-around;
    padding: 20px 0;
    margin: 20px 0px;
    align-items: center;
    display: flex;
    width: 100%;
    border-bottom: 1px solid $divider;
    .title {
      h2 {
        margin: 0;
      }
    }
    .search {
      input {
        margin: 0 10px;
      }
      button {
        @extend %transparent-button;
      }
    }
    .shopping {
      position: relative;
      padding: 0 10px;
      .cart-count {
        cursor: pointer;
        background-color: $cartCount;
        border-radius: 100%;
        font-size: 12px;
        padding: 1px 4px;
        position: absolute;
        right: 20px;
      }
    }
  }
  .bottom-title {
    width: 100%;
    background-color: $cartCount;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .top-title {
      flex-wrap: wrap;
      justify-content: center;
      .title,
      .search {
        width: 100%;
        text-align: center;
      }
      .search {
        input {
          width: 80%;
        }
      }
      .shopping {
        margin-top: 20px;
        .cart-count {
          font-size: 20px;
          padding: 1px 9px;
          right: 25px;
        }
      }
    }
  }
}