.filter {
  display: flex;
  justify-content: flex-end;
  input {
    margin-right: 20px;
    border-radius: 3px;
  }
  select {
    margin-left: 10px;
    &.disabled {
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filter{
    padding: 0 15px;
  }
}