@import '../../variables.scss';
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  text-align: center;
  .modal-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    .buy-box {
      background-color: #f5f5f5;
      border-radius: 5px;
      padding: 30px 40px;
      color: grey;
      position: relative;
      .dismiss {
        position: absolute;
        right: 10px;
        top: 0;
        @extend %transparent-button;
        color: grey;
        font-size: 20px;
      }
      button {
        &.accept {
          @include button(#5cb85c, #449d44)
        }
        &.cancel {
          @include button(#d43f3a, #c9302c)
        }
      }
    }
  }
}