@import '../../variables.scss';
.products {
  padding: 0 20px;
  .null-state {
    text-align: center;
    padding: 50px 0;
  }
  .shop-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    .category-name {
      width: 100%;
      font-size: 18px;
    }
    .product {
      width: 33%;
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid $divider;
      img {
        width: 80%;
      }
      .no-stock {
        color: $noStock;
      }
      button {
        @extend %transparent-button;
        &:hover {
          color: $noStock;
        }
      }
    }
  }
}