@import '../../variables.scss';
.side-bar {
  border-right: solid 1px $divider;
  padding: 20px 0;
  .title {
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0 10px;
    .item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        @extend %transparent-button;
      }
    }
    &.sublevel {
      text-align: right;
      padding: 10px 20px;
      button {
        @extend %transparent-button;
        color: white;
        &:hover {
          color: $cartCount;
        }
      }
    }
  }
}