.content {
  .shop-box {
    display: flex;
    .side-bar {
      flex: 1;
    }
    .products {
      flex: 5;
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    .shop-box {
      flex-wrap: wrap;
      .side-bar,
      .products {
        flex: 0 1 auto;
      }
      .side-bar {
        padding: 0 20px;
        width: 100%;
      }
    }
  }
}