@import "./variables.scss";
.App {
  background-color: black;
  min-height: 100vh;
  color: $mainFontColor;
  padding: 0 150px;
  hr {
    border: .5px solid $divider;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0;
  }
}