$mainColor: black;
$mainFontColor: white;
$cartCount: #d9932f;
$divider: #c5c5c5;
$noStock: red;
%transparent-button {
  background-color: transparent;
  color: white;
  border-color: transparent;
  cursor: pointer;
}

@mixin button($mainColor, $hoverColor) {
  padding: 20px 40px;
  margin: 30px 20px;
  border-radius: 5px;
  font-size: 24px;
  border-color: transparent;
  color: white;
  background-color: $mainColor;
  &:hover {
    cursor: pointer;
    background-color: $hoverColor;
  }
}