@import "../../variables.scss";
.cart-container {
  padding: 20px;
  position: absolute;
  width: 200px;
  right: 0;
  top: 15px;
  .cart-box {
    min-height: 200px;
    border: 1px solid $divider;
    border-top: 5px solid $cartCount;
    background-color: $mainColor;
    .cart-item {
      padding: 0px 20px;
      border: 0.1px solid $divider;
      p:first-child {
        color: $cartCount;
        text-align: center;
      }
      .add-remove {
        display: flex;
        justify-content: space-around;
        button {
          @extend %transparent-button;
        }
      }
    }
    .end-buy {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      button {
        @extend %transparent-button;
        background-color: $cartCount;
        border-radius: 3px;
        font-size: 15px;
      }
    }
    .thanks {
      display: flex;
      height: 150px;
      text-align: center;
      align-items: center;
    }
  }
}